{% raw %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block html_title %}
      {% block section_title %}
      {% endblock %}
      {{ site_name }}
      {% endblock %}
    </title>
    <meta name="description" content="{{ project.author }}">
    <meta name="author" content="{{ project.email }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

  </head>
  <body>

    <div id="root"></div>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>


    {% render_bundle 'main' %}

    {% csrf_token %}


  </body>
</html>


{% endraw %}
